*{
  box-sizing: border-box;
  
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background: url(../img/newmoonbackground.png);
  background-size: cover;
  text-align: center;
  margin: 15%;
  font-family: 'Lobster', cursive;
  font-size:2.5rem;
}

#month, #day, button{
  width: 8%;
  height: 50px;
  font-size: 2rem;
  background: rgb(229, 229, 140);
  border: 2px solid rgb(192, 192, 64);
  border-radius: 25%;
}

h2{
  color: rgb(163, 117, 30);
  border: 2px solid rgb(192, 192, 64);
  width: 50%;
  height: 300px;
  margin: 8% 0 0 26%;
  background:rgb(204, 204, 131);
  border-radius: 75%;
  padding: 8%;

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


